<ul>
  <% @patients.each do |patient| %>
    <li>
      Name: <%= link_to patient.name, patient_path(patient) %>
      Number of Appointments: <%= patient.get_number_of_appointments %>
    </li>
  <% end %>
</ul>