<h1>Doctors#show</h1>
<%= @doctor.name %>
<%= @doctor.department %>
<% @doctor.appointments.each do |appointment| %>
<%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
<% @doctor_patient = @doctor.patients.find(appointment.patient_id)%>
<%= link_to @doctor_patient.name, patient_path(@doctor_patient)%>
<% end %>


